<sf-box>
    <div class="capital whiteBack">
      <div class="headerInfo">
        <h3>Capitalización</h3>
        <h4 class="colorTextMag">Total: <span>12</span></h4>
      </div>
      <ul class="listContent">
        <li>
          <p>Ingresos</p>
          <span class="colorBlue">100</span>
        </li>
        <li>
          <p>Reingresos</p>
          <span class="colorBlue">12</span>
        </li>
        <li>
          <p>Egresos</p>
          <span class="colorBlue">12</span>
        </li>
      </ul>
      <div class="tip colorBackTip">
        <div>
          <img src="../../../../../../../../assets/a-icon-observation.svg" alt="">
        </div>
        <div>
          <p class="grayText">
            Recuerda que tu capitalización se calcula en base a: <br />
            Ingresos + Reingresos - Egresos
          </p>
        </div>
      </div>
    </div>
  </sf-box>
