<ui-card [typeCard]="CardDetail">
  <div class="capital whiteBack">
    <div class="headerInfo">
      <ui-title title="Capitalización" size="lg" color="#000000"></ui-title>
      <ui-title title="Total 12" size="xmd" color="#B9007E"></ui-title>
    </div>
    <ul class="listContent final">
      <li>
        <ui-text text="Ingresos" size="md" color="#000000"></ui-text>
        <ui-title [title]="capitalizationIngresos" size="md"></ui-title>
      </li>
      <li>
        <ui-text text="Reingresos" size="md" color="#000000"></ui-text>
        <ui-title [title]="capitalizationReingresos" size="md"></ui-title>
      </li>
      <li>
        <ui-text text="Egresos" size="md" color="#000000"></ui-text>
        <ui-title [title]="capitalizationEgresos" size="md"></ui-title>
      </li>
    </ul>
    <div class="tip colorBackTip">
      <div>
        <img
          src="../../../../../../../../assets/icons/a-icon-observation.jpg"
          alt=""
        />
      </div>
      <div>
        <p class="grayText">
          Recuerda que tu capitalización se calcula en base a: <br />
          Ingresos + Reingresos - Egresos
        </p>
      </div>
    </div>
  </div>
</ui-card>
