
<div class="headerPage whiteBack">
    <div class="leftSideContainer">
        <div class="icon">
            <img src=" alt="">
        </div>
        <h2>Venta y Pedidos</h2>
    </div>
    <div class="rightSideContainer">
        <span class="textLink">Ir a Cobranza y Ganancia</span>
        <div class="iconHeader bodyBack">
            <img src=" alt="" class="">
        </div>
    </div>
  </div>

<div>
    <div class="ui-g-4 ui-g-nopad marginLeft">
        <sale-catalog-sales ></sale-catalog-sales>
        <goal-orders-sales *ngIf="sale"></goal-orders-sales>
    </div>
    <div class="ui-g-4 ui-g-nopad marginCard">
        <ng-template [ngIf]="sale" [ngIfElse]="billing">
            <activity-sales></activity-sales>
        </ng-template>
        <ng-template #billing>
          <peg-sales></peg-sales>
        </ng-template>
    </div>
    <capitalization-sales class="ui-g-4 ui-g-nopad marginRight"></capitalization-sales>
  </div>
