<ui-card [backGround]='backGround'>
  <ui-card-header>
    <img src='assets/icons/icon-reportecampania.svg' alt='' iconLeft class="icon-card">
    <ui-title [title]='title' size="xmd" [color]="color"></ui-title>
    <img src='assets/icons/a-icon-arrow-right.svg' alt='' iconRight>
  </ui-card-header>
  <ui-info>
    <ui-title title='¡Prepararse es clave!' size="md" [color]="color" up></ui-title>
    <ui-text text='Ingresa para ver los datos de la sección.' size="md" [color]="color" down></ui-text>
  </ui-info>
  <button label='Click' class='Button'>Ingresar</button>
</ui-card>
