<div class="CycleNews">
  <ui-card>
    <div class="whiteBack firstCard">
      <div class="advice bodyBack">
        <p>7 Consultoras 6D6</p>
      </div>
      <p class="disclaimer colorTextMag">
        <img src="/images/a-icon-disclaimer.svg" alt="" />
        Gana hasta S/120 por cada 6D6 que logres retener
      </p>
    </div>
  </ui-card>
  <ui-card>
    <div class="whiteBack secondCard">
      <h3>Máxima retención posible</h3>
      <ul class="listaConsultant">
        <li>
          <span class="colorLightBlue">5D5</span>
          <p>9 de 9 Consultoras</p>
        </li>
        <hr class="divided" />
        <li>
          <span class="colorLightBlue">5D5</span>
          <p>3 de 8 Consultoras</p>
        </li>
        <hr class="divided" />
        <li>
          <span class="colorLightBlue">5D5</span>
          <p>7 de 8 Consultoras</p>
        </li>
        <hr class="divided" />
        <li>
          <span class="colorLightBlue">5D5</span>
          <p>5 de 12 Consultoras</p>
        </li>
      </ul>
    </div>
  </ui-card>
</div>
