<div class="container ui-g">
    <div class="ui-g-12 advicePage">Inicio / Venta y Pedidos</div>
    <div class="ui-g-12 ui-g-nopad headerSales">
      <!-- <app-sales-header-sales class="margin"></app-sales-header-sales> -->
    </div>
    <div class="ui-g-12 subtitle ui-g-nopad">
      <img src="../../../../../assets/icons/woman-consultant.svg" alt="" />
      <h4>Consultoras de la sección</h4>
    </div>
    <div class="ui-g-3 FilterRetention ui-g-nopad">
      <app-sales-filter></app-sales-filter>
    </div>
    <div class="ui-g-9 ui-g-nopad list">
      <app-sales-find></app-sales-find>
      <app-sales-list></app-sales-list>
    </div>
  </div>
