<div class="container ui-g">
    <div class="ui-g-12 advicePage">Inicio / Venta y Pedidos</div>
    <div class="ui-g-12 ui-g-nopad headerSales">
      <app-header class="margin"></app-header>
    </div>
    <div class="ui-g-12 subtitle ui-g-nopad">
      <img src="../../../../../assets/woman-consultant.svg" alt="" />
      <h4>Consultoras de la sección</h4>
    </div>
    <div class="ui-g-3 FilterRetention ui-g-nopad">
      <filter-sales></filter-sales>
    </div>
    <div class="ui-g-9 ui-g-nopad list">
      <app-find></app-find>
      <app-list></app-list>
      <app-pagination></app-pagination>
    </div>
  </div>
