<div class="ui-g container ui-g-nopad">
    <div class="ui-g-7 logo-login">
      <img src="../../../../../../assets/images/illustration.jpg" alt="">
    </div>
    <div class="ui-g-5 ui-sm-12 form-login">
        <img src="../../../../../../assets/logo/logo.png" alt="">
      <br/>
      <span>belcorp.biz</span>
      <div>
        <ng-template [ngIf]="showError">
            <li>
              Contraseña o identificador de usuario incorrectos. Escriba la contraseña y el identificador de usuario correctos e inténtelo de nuevo.
            </li>
        </ng-template>
      </div>
      <form action="" class="form" [formGroup]="presenter.authForm" (ngSubmit)="presenter.signIn()" >
          <input formControlName="username" name="username" type="text" class="form-control rounded-0" text="" required placeholder="Nombre usuario" autofocus>
          <input [type]="showPassword ? 'text' : 'password'" formControlName="password" name="password"  text="" required placeholder="Contraseña">
          <button type="submit" [disabled]="presenter.authForm.invalid" class="btn">Iniciar sesión</button>
        <br/>
        <a href="" class="access">¿No puedes acceder a tu cuenta?</a>
        <hr>
        <p class="footer-login">
          © Copyright Belcorp 2019. All rights reserved
        </p>
      </form>
    </div>
  </div>


