<ui-card>
  <div class="activity whiteBack">
    <div class="headerInfo">
      <h3>Actividad</h3>
      <h4 class="colorTextMag">Total: <span>85%</span></h4>
    </div>
    <ul class="listContent">
      <li>
        <p>Actividades Finales</p>
        <span class="colorBlue">100</span>
      </li>
      <li>
        <p>PEGs</p>
        <span class="colorBlue">12</span>
      </li>
    </ul>
    <hr />
    <div class="headerInfo">
      <h3>Retención Activas</h3>
      <h4 class="colorTextMag">Total: <span>85%</span></h4>
    </div>
    <ul class="listContent">
      <li>
        <p class="colorBlue">Actividades Finales C18 - 2018</p>
        <span class="colorBlue">100 consultoras</span>
      </li>
      <li>
        <p class="colorBlue">Actividades Finales C08 - 2019</p>
        <span class="colorBlue">80 consultoras</span>
      </li>
    </ul>
  </div>
</ui-card>
