.CycleNews{
  display: flex;
  justify-content: space-between;
}
.firstCard{
  padding: 24px 20px;
  border-radius: 4px;
}
.advice{
  padding: 16px 80px;
}
.advice p{
  font-weight: bold;
}
.disclaimer{
  font-size: 12px;
  margin: 12px auto;
}
.secondCard{
  border-radius: 4px;
  padding: 24px 20px;
  width: 70%;
}
.divided{
  margin: 0px 16px;
}
.colorTextMag{
  color: #b9007e;
}

.listaConsultant{
  display: flex;
  margin-top: 24px;
  justify-content: space-around;
}
.listaConsultant li{
  padding: 0px 16px;
  text-align: center;
  font-weight: bold;
}
.listaConsultant span{
  letter-spacing: 1.5px;
  font-weight: bold;
}
.listaConsultant li p{
  margin-top: 4px;
}
.colorLightBlue{
  color:#39bbb1;
}
