<div class="container-home ui-g">
        <app-profile-user class="UserProfile ui-g-6 ui-sm-12"></app-profile-user>
        <app-profile-campaign class="CampaignProfile ui-g-6 ui-sm-12"></app-profile-campaign>
</div>
<div class="container-cards ui-g">
    <app-report-campaign class="ui-g-4 ui-sm-12"></app-report-campaign>
    <app-sales class="ui-g-4 ui-sm-12"></app-sales>
    <app-gain class="ui-g-4 ui-sm-12"></app-gain>
    <app-retention class="ui-g-4 ui-sm-12"></app-retention>
    <app-unete class="ui-g-4 ui-sm-12"></app-unete>
    <app-inspira class="ui-g-4 ui-sm-12"></app-inspira>
    <!--<app-road-bright></app-road-bright>-->
</div>

