<ui-card>
    <div class="sellCard whiteBack ">
      <ul class="listContent">
        <li>
          <h3>% Recuperación C08</h3>
          <h3 class="colorTextMag">67.3%</h3>
        </li>
      </ul>
      <hr />
      <ul class="listContent promedy">
        <li>
          <h3>Avance de Ganancia C08</h3>
          <h3 class="colorTextMag">S/ 9,000</h3>
        </li>
      </ul>
      <hr />
      <ul class="listContent promedy">
        <li>
          <h3>Ganancia Total Proyectada</h3>
          <h3 class="colorTextMag">S/ 14,000</h3>
        </li>
      </ul>
      <div class="tip colorBackTip">
        <div class="tipIcon">
          <img src="/images/a-icon-observation.svg" alt="" />
        </div>
        <div class="grayText">
          <p>
            La ganancia proyectada se calcula en base a la suma de<br />la
            ganancia por pedidos + ganancia por concursos.
          </p>
        </div>
      </div>
    </div>
  </ui-card>
