<sf-box>
    <div class="activity whiteBack">
      <div class="headerInfo">
        <h3>PEGs</h3>
      </div>
      <ul class="listContent">
        <li>
          <p>PEGs retenidas</p>
          <span class="colorBlue">100</span>
        </li>
        <li>
          <p>Retención de PEGs</p>
          <span class="colorBlue">12</span>
        </li>
        <li>
          <p>PEGs por retener</p>
          <span class="colorBlue">12</span>
        </li>
      </ul>
      <hr />
      <div class="headerInfo">
        <h3>Actividad</h3>
        <h4 class="colorTextMag">Total: <span>85%</span></h4>
      </div>
    </div>
  </sf-box>
