<ui-card [typeCard]="CardDetail">
  <div class="activity whiteBack">
    <div class="headerInfo">
      <ui-title title="PEGs" size="lg" color="#000000"></ui-title>
    </div>
    <ul class="listContent">
      <li>
        <ui-text text="PEGs retenidas" size="md" color="#000000"></ui-text>
        <ui-title title="8" size="md"></ui-title>
      </li>
      <li>
        <ui-text text="Retención de PEGs" size="md" color="#000000"></ui-text>
        <ui-title title="80%" size="md"></ui-title>
      </li>
      <li>
        <ui-text text="PEGs por retener" size="md" color="#000000"></ui-text>
        <ui-title title="4" size="md"></ui-title>
      </li>
    </ul>
    <hr />
    <div class="headerInfo">
      <ui-title title="Actividad" size="lg" color="#000000"></ui-title>
      <ui-title title="Total: 85%" size="xmd" color="#B9007E"></ui-title>
    </div>
  </div>
</ui-card>
