<ng-template [ngIf]="sale" [ngIfElse]="billing">
  <ng-template [ngIf]="roadBright" [ngIfElse]="noRoadBright">
    <ng-template [ngIf]="others" [ngIfElse]="cl">
      <ui-card>
        <ui-card-header>
          <img src="assets/icons/a-icon-salesandorder.svg" alt="" iconLeft />
          <ui-title [title]="title"></ui-title>
          <img src="assets/icons/a-icon-arrow-right.svg" alt="" iconRight />
        </ui-card-header>
        <ng-template [ngIf]="data" [ngIfElse]="loading">
          <ui-info>
            <ui-text text="En C08 lograste" up></ui-text>
            <ui-title title="$59,012 de Venta Catálogo" down></ui-title>
          </ui-info>
          <ui-info>
            <ui-text text="En C09 tu meta es" up></ui-text>
            <div down>
              <ui-title title="100 Pedidos"></ui-title>
              <img src="assets/icons/a-icon-salesandorder.svg" alt="" />
            </div>
          </ui-info>
          venta CB otros
        </ng-template>
        <ng-template #loading>Loading...</ng-template>
      </ui-card>
    </ng-template>

    <ng-template #cl>
      <ui-card>
        <ui-card-header>
          <img src="assets/icons/a-icon-salesandorder.svg" alt="" iconLeft />
          <ui-title [title]="title"></ui-title>
          <img src="assets/icons/a-icon-arrow-right.svg" alt="" iconRight />
        </ui-card-header>
        <ng-template [ngIf]="data" [ngIfElse]="loading">
          <ui-info>
            <ui-text text="En C08 lograste" up></ui-text>
            <div down>
              <ui-title title="$59,012"></ui-title>
              <ui-text text="de Venta Catálogo"></ui-text>
            </div>
          </ui-info>
          <ui-info>
            <ui-title title="76" up></ui-title>
            <ui-text text="Pedidos" down></ui-text>
          </ui-info>
          <ui-info>
            <ui-text text="En C09 tu meta de Venta Catálogo es" up></ui-text>
            <div down>
              <ui-title title="$60,000"></ui-title>
              <img src="assets/icons/a-icon-salesandorder.svg" alt="" />
            </div>
          </ui-info>
          venta CB CL
        </ng-template>
        <ng-template #loading>Loading...</ng-template>
      </ui-card>
    </ng-template>
  </ng-template>

  <ng-template #noRoadBright>
    <ui-card>
      <ui-card-header>
        <img src="assets/icons/a-icon-salesandorder.svg" alt="" iconLeft />
        <ui-title [title]="title"></ui-title>
        <img src="assets/icons/a-icon-arrow-right.svg" alt="" iconRight />
      </ui-card-header>
      <ng-template [ngIf]="data" [ngIfElse]="loading">
        <ui-info>
          <ui-text text="En C08 lograste" up></ui-text>
          <ui-title title="S/. 20,800 de Venta Catálogo" down></ui-title>
        </ui-info>
        <ui-info>
          <ui-text text="En C09 tu meta es" up></ui-text>
          <div down>
            <ui-title title="100 Pedidos"></ui-title>
            <img src="assets/icons/a-icon-salesandorder.svg" alt="" />
          </div>
        </ui-info>
        Venta no CB
      </ng-template>
      <ng-template #loading>Loading...</ng-template>
    </ui-card>
  </ng-template>
</ng-template>

<ng-template #billing>
  <ng-template [ngIf]="roadBright" [ngIfElse]="noRoadBright">
    <ng-template [ngIf]="others" [ngIfElse]="cl">
      <ui-card>
        <ui-card-header>
          <img src="assets/icons/a-icon-salesandorder.svg" alt="" iconLeft />
          <ui-title [title]="title"></ui-title>
          <img src="assets/icons/a-icon-arrow-right.svg" alt="" iconRight />
        </ui-card-header>
        <ng-template [ngIf]="data" [ngIfElse]="loading">
          <ui-info>
            <ui-text text="Vas logrando" up></ui-text>
            <div down>
              <ui-title title="$ 52,120 de Venta Catálogo"></ui-title>
              <img src="assets/icons/a-icon-salesandorder.svg" alt="" />
            </div>
          </ui-info>
          <ui-info>
            <ui-text text="Te faltan" up></ui-text>
            <ui-title title="24 Pedidos" down></ui-title>
          </ui-info>
          <ui-progress-bar>
            <ui-text text="Meta C09:100" [size]="size"></ui-text>
            <ui-title text="¡Tú puedes!" ></ui-title>
          </ui-progress-bar>

          Facturación CB Otros
        </ng-template>
        <ng-template #loading>Loading...</ng-template>
      </ui-card>
    </ng-template>

    <ng-template #cl>
      <ui-card>
        <ui-card-header>
          <img src="assets/icons/a-icon-salesandorder.svg" alt="" iconLeft />
          <ui-title [title]="title"></ui-title>
          <img src="assets/icons/a-icon-arrow-right.svg" alt="" iconRight />
        </ui-card-header>
        <ng-template [ngIf]="data" [ngIfElse]="loading">
          Facturación CB CL
        </ng-template>
        <ng-template #loading>Loading...</ng-template>
      </ui-card>
    </ng-template>
  </ng-template>

  <ng-template #noRoadBright>
    <ui-card>
      <ui-card-header>
        <img src="assets/icons/a-icon-salesandorder.svg" alt="" iconLeft />
        <ui-title [title]="title"></ui-title>
        <img src="assets/icons/a-icon-arrow-right.svg" alt="" iconRight />
      </ui-card-header>
      <ng-template [ngIf]="data" [ngIfElse]="loading">
        Facturación no CB
      </ng-template>
      <ng-template #loading>Loading...</ng-template>
    </ui-card>
  </ng-template>
</ng-template>
