<ng-template [ngIf]="sale" [ngIfElse]="billing">
  <ng-template [ngIf]="roadBright" [ngIfElse]="noRoadBright">
    <ng-template [ngIf]="dop" [ngIfElse]="others">
      <ui-card>
        <ui-card-header>
          <img src="assets/icons/a-icon-salesandorder.svg" alt="" iconLeft  class="icon-card"/>
          <ui-title [title]="title" size="xmd" color="color"></ui-title>
          <img src="assets/icons/a-icon-arrow-right.svg" alt="" iconRight />
        </ui-card-header>
        <ng-template [ngIf]="data" [ngIfElse]="loading">
          <ui-info>
            <ui-text text="En C08 lograste" size="md-d" up></ui-text>
            <div down>
              <ui-title title="$59,012" size="lg-ex"></ui-title>
              <ui-text text="de Venta Catálogo" size=""></ui-text>
            </div>
          </ui-info>
          <ui-info>
            <ui-title title="76" size="lg" up></ui-title>
            <ui-text text="Pedidos" size="md" down></ui-text>
          </ui-info>
          <ui-info>
            <ui-text
              text="En C09 tu meta de Venta Catálogo es" size="md-d" up
            ></ui-text>
            <div down>
              <ui-title title="$60,000" size="lg-ex"></ui-title>
              <img src="assets/icons/a-icon-salesandorder.svg" alt="" />
            </div>
          </ui-info>
          <!--venta CB DOP-->
        </ng-template>
        <ng-template #loading>Loading...</ng-template>
      </ui-card>
    </ng-template>

    <ng-template #others>
      <ui-card>
        <ui-card-header>
          <img src="assets/icons/a-icon-salesandorder.svg" alt="" iconLeft  class="icon-card"/>
          <ui-title [title]="title" size="xmd" color="color"></ui-title>
          <img src="assets/icons/a-icon-arrow-right.svg" alt="" iconRight />
        </ui-card-header>
        <ng-template [ngIf]="data" [ngIfElse]="loading">
          <ui-info>
            <ui-text text="En C08 lograste" size="md" up></ui-text>
            <ui-title
              title="$59,012 de Venta Catálogo"
              size="lg"
              down
            ></ui-title>
          </ui-info>
          <ui-info>
            <ui-text text="En C09 tu meta es" size="md-d" up></ui-text>
            <div down>
              <ui-title title="100 Pedidos" size="lg"></ui-title>
              <img src="assets/icons/a-icon-salesandorder.svg" alt="" />
            </div>
          </ui-info>
          <!--venta CB otros-->
        </ng-template>
        <ng-template #loading>Loading...</ng-template>
      </ui-card>
    </ng-template>
  </ng-template>

  <ng-template #noRoadBright>
    <ui-card>
      <ui-card-header>
        <img src="assets/icons/a-icon-salesandorder.svg" alt="" iconLeft  class="icon-card"/>
        <ui-title [title]="title" size="xmd" color="color"></ui-title>
        <img src="assets/icons/a-icon-arrow-right.svg" alt="" iconRight />
      </ui-card-header>
      <ng-template [ngIf]="data" [ngIfElse]="loading">
        <ui-info>
          <ui-text text="En C08 lograste" size="md" up></ui-text>
          <ui-title
            title="S/. 20,800 de Venta Catálogo"
            size="lg"
            down
          ></ui-title>
        </ui-info>
        <ui-info>
          <ui-text text="En C09 tu meta es" size="md" up></ui-text>
          <div down>
            <ui-title title="100 Pedidos" size="lg"></ui-title>
            <img src="assets/icons/a-icon-salesandorder.svg" alt="" />
          </div>
        </ui-info>
        Venta no CB
      </ng-template>
      <ng-template #loading>Loading...</ng-template>
    </ui-card>
  </ng-template>
</ng-template>

<ng-template #billing>
  <ng-template [ngIf]="roadBright" [ngIfElse]="noRoadBright">
    <ng-template [ngIf]="dop" [ngIfElse]="others">
      <ui-card>
        <ui-card-header>
          <img src="assets/icons/a-icon-salesandorder.svg" alt="" iconLeft  class="icon-card"/>
          <ui-title [title]="title" size="xmd" color="color"></ui-title>
          <img src="assets/icons/a-icon-arrow-right.svg" alt="" iconRight />
        </ui-card-header>
        <ng-template [ngIf]="data" [ngIfElse]="loading">
          <div class="info-card">
            <ui-info>
              <ui-text text="Superaste tu meta en" size="md" up></ui-text>
              <ui-title title="$ 12,230" size="lg" down></ui-title>
            </ui-info>
          </div>
          <ui-progress-bar>
            <ui-text text="Meta C09: $ 60,000" size="xsm" left></ui-text>
            <ui-title title="¡Lo lograste!" size="xsm" right>
              <img src="assets/icons/a-icon-arrow-right.svg" alt="" right />
            </ui-title>
          </ui-progress-bar>
          <div class="info-card">
            <ui-info>
                <ui-text text="Vas logrando" size="md" up></ui-text>
                <div down>
                  <ui-title title="80 Pedidos" size="lg"></ui-title>
                  <img src="assets/icons/a-icon-salesandorder.svg" alt="" />
                </div>
              </ui-info>
          </div>
          <!--Facturación CB DOP-->
        </ng-template>
        <ng-template #loading>Loading...</ng-template>
      </ui-card>
    </ng-template>

    <ng-template #others>
      <ui-card>
        <ui-card-header>
          <img src="assets/icons/a-icon-salesandorder.svg" alt="" iconLeft  class="icon-card"/>
          <ui-title [title]="title" size="xmd" color="color"></ui-title>
          <img src="assets/icons/a-icon-arrow-right.svg" alt="" iconRight />
        </ui-card-header>
        <ng-template [ngIf]="data" [ngIfElse]="loading">
          <ui-info>
            <ui-text text="Vas logrando" size="md" up></ui-text>
            <div down>
              <ui-title title="$ 52,120 de Venta Catálogo" size="lg"></ui-title>
              <img src="assets/icons/a-icon-salesandorder.svg" alt="" />
            </div>
          </ui-info>
          <ui-info>
            <ui-text text="Te faltan" size="md" up></ui-text>
            <ui-title title="24 Pedidos" size="lg" down></ui-title>
          </ui-info>
          <ui-progress-bar>
            <ui-text text="Meta C09:100" size="xsm" left></ui-text>
            <ui-title title="¡Tú puedes!" size="xsm" right></ui-title>
          </ui-progress-bar>

          Facturación CB Otros
        </ng-template>
        <ng-template #loading>Loading...</ng-template>
      </ui-card>
    </ng-template>
  </ng-template>

  <ng-template #noRoadBright>
    <ui-card>
      <ui-card-header>
        <img src="assets/icons/a-icon-salesandorder.svg" alt="" iconLeft  class="icon-card"/>
        <ui-title [title]="title" size="xmd" color="color"></ui-title>
        <img src="assets/icons/a-icon-arrow-right.svg" alt="" iconRight />
      </ui-card-header>
      <ng-template [ngIf]="data" [ngIfElse]="loading">
        <div class="info-card">
          <ui-info>
            <ui-text text="Vas logrando" size="md" up></ui-text>
            <div down>
              <ui-title title="S/. 25,123 de Venta Catálogo" size="lg"></ui-title>
            </div>
          </ui-info>
        </div>
        <div class="info-card">
          <ui-info>
            <ui-text text="Superaste tu meta en" size="md" up></ui-text>
            <ui-title title="10 Pedidos" size="lg" down></ui-title>
          </ui-info>
        </div>
        <ui-progress-bar>
          <ui-text text="Meta C09:100" size="xsm" left></ui-text>
          <ui-title title="¡Lo lograste!" size="xsm" right></ui-title>
          <img src="../../../../../../../assets/icons/a-icon-woweyes.svg" alt="">
        </ui-progress-bar>
      </ng-template>
      <ng-template #loading>Loading...</ng-template>
    </ui-card>
  </ng-template>
</ng-template>
