.Footer {
  align-content: center;
  justify-content: center;
  background-color: #ffffff;
  font-size: 12px;
  bottom: 0;
  margin-top: 48px;

  .Container{
      max-width: 1170px;
      margin: 0 auto;
      margin-top:20px;
      .menuFooter{
        .title{
          font-weight: bold;
          font-size: 14px;
         }
        ul{
          list-style: none;
          padding: 0px;
          margin: 0px;
          li{
            color: #454549;
            list-style: none;
              a{
                line-height:1.71;
                color: #454549;
                font-size: 14px;
                text-decoration: none;
              }
          }

        }
      }
    }

  .FooterMobile{
    padding: 16px 0px;
    font-family: 'Lato';
    display: none;
  }
  .logoBelcorp{
    padding: 0px 20px;
  }
  .CopyrightFooter {
    text-align: end;
    font-size: 10px;
    color: #000;
    margin-top: 20px;
    padding: 0px 20px;
  }
  .listFooter{
    padding: 0px;
    list-style: none;
  }
  .listFooter li{
    padding: 16px 20px;
    border-bottom: 1px solid #eaeaec;
    justify-content: space-between;
    color: #454549;
    font-weight: bold;
    font-size: 14px;
  }
  .listFooter li:last-child{
    border-bottom: none;
  }
  .listFooter li i {
    float: right;
  }
  .social{
    text-align: right;
    padding: 0px 20px;
  }
  .Facebook{
    margin-right: 22px;
  }
  .optionFooter{
    padding: 16px 0px;
  }
}

@media (max-width:650px) {
  .Footer{
    .FooterMobile{
      display: block
    }
  }
  .Container{
    display: none;
  }
}
