<ui-card>
    <div class="gain whiteBack">
      <div class="leftSideContainer">
        <div class="headerInfo">
          <h3>Ganancia por pedidos</h3>
          <h4 class="colorTextMag">Total: <span>S/ 1,200</span></h4>
        </div>
        <ul class="listContent">
          <li>
            <p>Pedidos Alto Valor (PAV)</p>
            <span class="colorBlue">S/ 400</span>
          </li>
          <li>
            <p>Pedidos Bajo Valor (PBV)</p>
            <span class="colorBlue">S/ 800</span>
          </li>
        </ul>
      </div>
      <hr class="divided" />
      <div class="rightSideContainer">
        <div class="headerInfo">
          <h3>Ganancia por concursos</h3>
          <h4 class="colorGreen">Total: <span>S/ 600</span></h4>
        </div>
        <ul class="listContent">
          <li>
            <p>Capitalización</p>
            <span class="colorBlue">S/ 100</span>
          </li>
          <li>
            <p>Retención 6D6</p>
            <span class="colorBlue">S/ 240</span>
          </li>
          <li>
            <p>Lanzamiento de Productos</p>
            <span class="colorBlue">S/ 160</span>
          </li>
          <li>
            <p>Fija Nuevas</p>
            <span class="colorBlue">S/ 100</span>
          </li>
          <li>
            <p>Cambio de nivel</p>
            <span class="colorBlue">S/ 160</span>
          </li>
        </ul>
      </div>
    </div>
  </ui-card>
