<ui-card [typeCard]="CardDetail">
  <div class="gain whiteBack">
    <div class="leftSideContainer">
      <div class="headerInfo">
        <ui-title
          title="Ganancia por pedidos"
          size="lg"
          color="#000000"
        ></ui-title>
        <ui-title title="Total: S/ 1,200" size="xmd" color="#38BE62"></ui-title>
      </div>
      <ul class="listContent">
        <li>
          <ui-text
            text="Pedidos Alto Valor (PAV)"
            size="md"
            color="#000000"
          ></ui-text>
          <ui-title title="S/ 400" size="md"></ui-title>
        </li>
        <li>
          <ui-text
            text="Pedidos Bajo Valor (PBV)"
            size="md"
            color="#000000"
          ></ui-text>
          <ui-title title="S/ 800" size="md"></ui-title>
        </li>
      </ul>
    </div>
    <hr class="divided" />
    <div class="rightSideContainer">
      <div class="headerInfo">
        <ui-title
          title="Ganancia por concursos"
          size="lg"
          color="#000000"
        ></ui-title>
        <ui-title title="Total: S/ 600" size="xmd" color="#38BE62"></ui-title>
      </div>
      <ul class="listContent">
        <li>
          <ui-text text="Capitalización" size="md" color="#000000"></ui-text>
          <ui-title title="S/ 100" size="md"></ui-title>
        </li>
        <li>
          <ui-text text="Retención 6D6" size="md" color="#000000"></ui-text>
          <ui-title title="S/ 240" size="md"></ui-title>
        </li>
        <li>
          <ui-text
            text="Lanzamiento de Productos"
            size="md"
            color="#000000"
          ></ui-text>
          <ui-title title="S/ 160" size="md"></ui-title>
        </li>
        <li>
          <ui-text text="Fija Nuevas" size="md" color="#000000"></ui-text>
          <ui-title title="S/ 100" size="md"></ui-title>
        </li>
        <li>
          <ui-text text="Cambio de nivel" size="md" color="#000000"></ui-text>
          <ui-title title="S/ 160" size="md"></ui-title>
        </li>
      </ul>
    </div>
  </div>
</ui-card>
