<div class="container">
  <nav>
    <div class="leftSide">
      <div class="logo">
        <img src="../../../../../../assets/logo/logo-white.svg" alt="">
      </div>
      <ul class="menuBar">
        <li *ngFor="let menu of optionsHeader" (click)="toggleMenu()">
          <span>{{ menu.description }}</span>
          <ng-container *ngIf="haveData(menu.sub_option)">
            <i class="icon-arrow-down12"></i>
            <!--<i class="sf-icon-arrow-down"></i>-->
            <ul class="options" *ngIf="showMenu">
              <li *ngFor="let subMenu of menu.sub_option"><span>{{ subMenu.description }}</span></li>
            </ul>
          </ng-container>
        </li>
      </ul>
    </div>
    <div class="rightSide">
      <ul class="options">
        <li><span>Cobranza</span></li>
        <li><span>IP Único</span></li>
        <li><span>Pedidos Web</span></li>
        <li><span>Bolsa de Pedidos</span></li>
      </ul>
      <div class="notification">
        <i class="sf-icon-bell"></i>
      </div>
      <div class="profile">
        <div class="avatar"></div>
        <img src="../../../../../../assets/icons/a-icon-arrow-down.svg" alt="">
      </div>
    </div>
  </nav>
</div>
