<div class="container ui-g">
    <div class="ui-g-12 advicePage">Inicio / Ganancia y Saldo</div>
    <app-gain-title></app-gain-title>
    <div class="ui-g-12 ui-g-nopad headerSales">
      <app-gain-header class="margin"></app-gain-header>
    </div>
    <div class="ui-g-12 subtitle ui-g-nopad">
      <img src="../../../../../assets/icons/woman-consultant.svg" alt="" />
      <h4>Consultoras con deuda pendiente</h4>
    </div>
    <div class="ui-g-3 Filtergain ui-g-nopad">
      <app-gain-filter></app-gain-filter>
    </div>
    <div class="ui-g-9 ui-g-nopad list">
      <app-gain-find></app-gain-find>
      <app-gain-list></app-gain-list>
    </div>
  </div>
