ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
p{
  margin: 0px;
}
.divided{
  margin: 0px 16px;
}
.advice{
  padding: 16px 15px;
}
.advice p{
  font-weight: bold;
}
.listaConsultant{
  display: flex;
  margin-top: 24px;
  justify-content: space-around;
}
.listaConsultant li{
  padding: 0px 16px;
  text-align: center;
  font-weight: bold;
}
.listaConsultant span{
  letter-spacing: 1.5px;
  font-weight: bold;
}
.listaConsultant li p{
  margin-top: 4px;
}
.colorLightBlue{
  color:#39bbb1;
}
.secondCard{
  border-radius: 4px;
  padding: 24px 20px;
}
