<!-- <p>list works!</p> -->
<div>
  <ui-item-title>
    <div class="textTitle">
      <div class="circlePoint pinkBack"></div>
      <span class="colorPink">NUEVA 3D3</span>
    </div>
    <p>Angelica Jessica de la Barra Mori</p>
  </ui-item-title>
  <ui-item-description>
    <ul>
      <li class="grayText">Codigo:<span class="blackText">14520</span></li>
      <li class="grayText">Celular: <span class="blackText">S/200.00</span></li>
    </ul>
    <ul>
      <li class="grayText">
        Código:<span class="blackText">456745678</span>
      </li>
      <li class="grayText">
        Celular: <span class="blackText">987654321</span>
      </li>
    </ul>
    <ul>
      <li class="grayText">
        Deuda Pendiente:<span class="blackText">S/. 0.00</span>
      </li>
      <li class="grayText">
        Pedido en Somos Belcorp: <span class="blackText">S/ 1,789</span>
      </li>
    </ul>
  </ui-item-description>
</div>
